<a href="https://colab.research.google.com/github/SafaruzzamanShovo/Skill-Morph/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. Create variables for your name, age, and favorite color, then print them with descriptive labels.**

In [1]:
name = "Safaruzzaman Shovo"
age = 24.5
favorite_color = "Black"

print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

Name: Safaruzzaman Shovo
Age: 24.5
Favorite Color: Black

#**2. Create one variable of each type and use the type() function to verify its type.**

In [5]:
num_int = 5
num_float = 3.14
str_var = "Faridpur Engineering College"
bool_var = True
list_var = [1, 2, 3]
tuple_var = (4, 5, 6)
set_var = {7, 8, 9,9}
dict_var = {"name": "Shovo", "age": 25}

print(type(num_int))
print(type(num_float))
print(type(str_var))
print(type(bool_var))
print(type(list_var))
print(type(tuple_var))
print(type(set_var))
print(type(dict_var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

#**3. Calculate the area and perimeter of a rectangle with length 7 and width 5.**

In [6]:
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print("Area:", area)
print("Perimeter:", perimeter)

Area: 35
Perimeter: 24

# **4. Create a list of 5 Bangladeshi foods, then access the first and last elements.**

In [7]:
foods = ["Biryani", "Mutton Curry", "Hilsa Fish", "Bhuna Khichuri", "Fuchka"]
print("First food:", foods[0])
print("Last food:", foods[-1])

First food: Biryani
Last food: Fuchka

# **5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.**

In [9]:
numbers = [10, 5, 3, 8, 2]
numbers.append(12)      # add new number
numbers.remove(5)       # remove one number
numbers.sort()          # using buildin function for sorting

print("Updated list:", numbers)

Updated list: [2, 3, 8, 10, 12]

# **6. Create a dictionary about yourself with at least 4 key-value pairs.**

In [13]:
my_info = {
    "name": "Safaruzzaman Shovo",
    "age": 24.5,
    "country": "Bangladesh",
    "profession": "Undergrad. Student",
    "University": "Faridpur Engineering College"
}

print(my_info)

{'name': 'Safaruzzaman Shovo', 'age': 24.5, 'country': 'Bangladesh', 'profession': 'Undergrad. Student', 'University': 'Faridpur Engineering College'}

# **7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.**

In [14]:
location = (21.4272, 91.0050)  # Using Latitude and Longitude of Cox's Bazar
print("Coordinates:", location)

Coordinates: (21.4272, 91.005)

# **8. Create two sets of colors and find their union and intersection.**

In [15]:
col_1 = {"red", "blue", "green"}
col_2 = {"yellow", "blue", "black"}

print("Union:", col_1.union(col_2))
print("Intersection:", col_1.intersection(col_2))

Union: {'red', 'blue', 'black', 'green', 'yellow'}
Intersection: {'blue'}

# **9. Write a Python function that takes a string as input and prints the first and last character of the string.**

In [16]:
def print_first_last_Char(text):
    if len(text) > 0:
        print("First character:", text[0])
        print("Last character:", text[-1])
    else:
        print("Empty string!")

print_first_last_Char("Bangladesh")

First character: B
Last character: h

# **10. Write a Python function that takes a string and converts it to uppercase.**

In [17]:
def to_uppercase(text):
    print(text.upper())

to_uppercase("hello world")

HELLO WORLD