<a href="https://colab.research.google.com/github/SafaruzzamanShovo/Skill-Morph/blob/main/Assignment_SkillMorph_4_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import necessary library**

In [9]:
import pandas as pd
import numpy as np

# **Numpy**

# **Create a NumPy array with 20 random integers between 1 and 100 and Display the NumPy array**

In [5]:
arr = np.random.randint(1, 101, 20)
print(arr)

[38 91 68 67 32 58 47 71 44 99 85 25 82  8 80 67 30 65  9 67]

## **1. Find the sum of all elements**

In [7]:
sum_of_elements = np.sum(arr)
print(sum_of_elements)

1133

## 2. **Find the maximum and minimum values in the array**

In [8]:
min_value = np.min(arr)
max_value = np.max(arr)
print(min_value)
print(max_value)

8
99

# **Pandas**

# **Create a DataFrame with 5 rows and 3 columns of random numbers**

In [12]:
df = pd.DataFrame(np.random.randint(1, 1001, size=(5, 3)), columns=['Age', 'Salary', 'Year_of_Experience'])
print(df)

   Age  Salary  Year_of_Experience
0  718     407                 795
1   94      33                 162
2  766     934                 571
3  946     911                 778
4  447     193                 669

## **1. Compute the sum of each column**

In [13]:
sum_of_columns = df.sum()
print(sum_of_columns)

Age                   2971
Salary                2478
Year_of_Experience    2975
dtype: int64

## **2. Compute the mean of each column**

In [16]:
mean_of_columns = df.mean()
print(mean_of_columns)

Age                   594.2
Salary                495.6
Year_of_Experience    595.0
dtype: float64